.resultContainer {
    flex-grow: 8;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.todayWeather {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
}

.todayWeather .today {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.todayWeather .todayInfo {
    flex-grow: 5;
    display: flex;
    flex-direction: row;
}

.todayWeather .todayInfo .valueLeft {
    flex-grow: 1;
    display: flex;
}

.todayWeather .todayInfo .valueLeft div:nth-child(2) {
    font-size: 35px;
    margin-left: 10px;
}


.todayWeather .todayInfo .valueRight {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(167, 167, 167)
}

.todayWeather .todayInfo .valueRight span {
    color: black;
}

.weeklyWeather {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weeklyWeather .dayName {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
}

.weeklyWeather .image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weeklyWeather .temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
}

.weeklyWeather .pollenCount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(167, 167, 167);
}


@media screen and (max-width: 640px) {
    .todayWeather {
        margin-bottom: 20px;
    }

    .weeklyWeather {
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid rgb(167, 167, 167)
    }

    .weeklyWeather .dayName {
        flex-direction: column;
    }

    .weeklyWeather .image {
        flex-direction: column;

    }

    .weeklyWeather .temperature {
        flex-direction: column;
    }

    .weeklyWeather .pollenCount {
        flex-direction: column;
    }

    .todayWeather .today {
        margin-bottom: 10px;
    }

}